.tudo {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
  }
  
  .titulo {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .bloco {
    display: flex;
  }
  
  .listas {
    display: flex;
    justify-content: space-between;
  }
  
  .listas > div {
    margin-right: 20px;
  }
  